html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


#map {
  height:80%;
  width: 60%;
  /*padding: 10 px;*/
  float: right;
  /*margin-left: 10 px;
  margin-right: 100 px;*/
}

#results{
  font-size: 13px;
  font-family: sans-serif;
  width: 30%;
  margin-left: 20px;
  height: 100%;
  float: left;
}


#results a:link {
    text-decoration: none;
    color: gray;
    font-style: italic;
}
