html, body {
  height: 100%;
  /*margin: 0;*/
  margin-right: 3em;
  margin-left: 3em;
  margin-bottom: 3em;
  padding: 0
}

#times {
  width: 50em;
  height: auto;
  margin-top: 0.5em;
  display: inline-block;
  margin-right: 3em;
}

div.panel.panel-default {
  background-color: white;
  width: 40em;
}

div.panel-container {
  margin-top: 2em;
}

div#address_fields {
  margin-bottom: 2em;
}

#and-place {
  font-size: 5em;
  color: white;
  display: inline-block;
  margin-top: 1em;
}

#map {
  height:80%;
  width: 50%;
  /*padding: 10 px;*/
  float: right;
  margin-top: 3px;
  /*margin-left: 10 px;
  margin-right: 100 px;*/
}

#results{
  font-size: 13px;
  font-family: sans-serif;
  width: 40%;
  margin-left: 20px;
  height: 100%;
  float: left;
}

#results a:link {
    text-decoration: none;
    color: gray;
    font-style: italic;
}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.input-group {
  width: 500px;
}

#address_fields{
  font-size: 16px;
  text-align: center;
}
